.profil{
    background-color:blue;
    border-radius: 50%;
    width:13%; 
}

.txt-selamat{
    color:#473f3d!important;
}
.txt-nama{
    color:black;
    /* font:bold; */
    
}
.btn-saldo{
    height:50%;
    border: solid 3px #f75539 !important;
    background-color:#f75539;
}
.txt-saldo{
    color:white;
    /* font:bold; */
}
@media screen and (max-width: 768px) {
    
}